@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: linear-gradient(to right bottom, rgb(4, 4, 31), rgb(0, 0, 0));
    font-family: 'Montserrat';
}

section {
    display: flex;
}

.navbar {
    position: relative;
    margin-left: -50px;
    padding: 75px;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background: rgba(22, 22, 22, 0);
    height: 100px;
    z-index: 1;
}

.navbar a {
    position: relative;
    color: rgb(192, 192, 192);
    z-index: 55;
    transition: 0.5s;
    text-decoration: none;
}

.logo {
    padding: 50px;
    padding-left: 75px;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.navbar .logo img {
    margin-top: 10px;
    height: 50%;
    width: 200px;
}

.navbar .nav-links ul {
    display: flex;
    list-style-type: none;
}

.navbar .nav-links ul li {
    margin: 0 25px;
    font-size: 1.6em;
}

.navbar a:hover {
    color: rgb(124, 124, 124);
    border-color: rgb(124, 124, 124);
    transition: 0.5s;
}

.navbar .nav-links ul li:hover {
    color: rgb(124, 124, 124);
}

.navbar .menu-burger {
    display: none;
    top: 55px;
    right: 50px;
    width: 35px;
    transition: 0.5s;
}

.navbar .menu-burger:hover {
    cursor: pointer;
}

.right {
    display: flex;
}

.right:nth-child(1) {
    margin-right: 20px;
}

.right:nth-child(2) {
    margin-right: 0px;
}

.right button {
    border: none;
    background: rgba(116, 0, 0, 0);
    color: white;
    font-weight: 600;
    font-size: 1em;
}

.right button:hover {
    cursor: pointer;
}

.right button:nth-child(1) {
    margin-top: 12px;
    transition: 0.5s;
}

.right button:nth-child(1):hover {
    transition: 0.5s;
    color: rgb(133, 133, 133);
}

.right button:nth-child(2) {
    background: rgb(255, 123, 0);
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
    margin-top: 2px;
}

.right button:nth-child(2):hover {
    background: rgb(129, 62, 0);
    transition: 0.5s;
}

.layer-one {
    display: flex;
    margin-top: 0px;
    margin-bottom: 50px;
    height: 100%;
    justify-content: center;
}

.layer-one .l-one-text-left {
    margin-top: 100px;
    margin-right: 10%;
    width: 600px;
    color: white;
}

.l-one-input input {
    background-repeat: repeat;
	background-color: rgb(1, 4, 32);
	color: rgb(57, 59, 214);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(68, 68, 68);
    padding: 15px 0px 15px 15px;
    width: 60%;
    font-family: 'Montserrat';
    font-weight: bold;
}

.layer-one .l-one-text-left h1 {
    font-size: 3em;
    color: #3f51b5;
    background-image: -webkit-linear-gradient(0deg, #3f51b5 22%, #ff5722 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.layer-one .l-one-text-left p {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #1e75bd;
    background-image: -webkit-linear-gradient(0deg, #1e75bd 22%, #673ab7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}

.l-one-input button {
    border: none;
    background: rgb(255, 123, 0);
    padding: 15px;
    border-radius: 2px;
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
}

.layer-one .l-one-img img {
    width: 500px;
    height: 500px;
    margin-top: 60px;
    animation: headmove 5s infinite ease-out;
}

.layer-two {
    display: flex;
    height: 150px;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    background: rgb(33,146,213);
    background: linear-gradient(90deg, rgb(107, 140, 190) 0%, rgb(9, 175, 125) 100%);
    margin-bottom: 100px;
    border-radius: 20px;
}

.layer-two .l-two-left {
    width: 80%;
    color: white;
    margin-left: 50px;
    padding-top: 40px;
}


.layer-two .l-two-left h1 {
    font-size: 1em;
    margin-bottom: 10px;
}

.layer-two .l-two-left p {
    font-size: 1.5em;
    font-weight: bold;
}

.layer-two .l-two-right {
    margin-top: 65px;
    font-weight: bold;
}

.layer-two .l-two-right a {
    color: white;
    background: black;
    text-decoration: none;
    padding: 15px;
    border-radius: 50px;
}

.text-here{
    width: 80%;
    max-width: 1500px;
    background-image: -webkit-linear-gradient(0deg, #3f51b5 22%, #ff5722 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    margin: 0 auto;
    margin-bottom: 100px;
}

p {
    font-size: 1.5em;
}

.layer-three {
    display: flex;
    margin-bottom: 100px;
    justify-content: center;
}

.layer-three .l-three-left img {
    width: 500px;
    height: 500px;
}

.layer-three .l-three-right {
    color: white;
    width: 550px;
    margin-top: 200px;

}

.layer-three .l-three-right h1 {
    width: 350px;
    background-image: -webkit-linear-gradient(0deg, #3f51b5 22%, #ff5722 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 

.layer-three .l-three-right p {
    background-image: -webkit-linear-gradient(0deg, #3f51b5 22%, #224aff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

/********************MEDIA QUERY ****************/


@media screen and (max-width: 1337px) {
    .layer-one {
        margin-left: 100px;
        display: flex;
        margin-top: 0px;
        height: 100%;
    }
    .layer-one .l-one-text-left {
        margin-top: 100px;
        margin-right: 5%;
        width: 600px;
        color: white;
    }
    
}

@media screen and (max-width: 1217px) {
    .navbar {
        padding: 0;
    }

    .logo {
        padding: 50px;
        margin-left: 50px;
    }

    .navbar .menu-burger {
        position: relative;
        display: block;
        top: 23px;
        left: -150px;
        right: 50px;
        width: 35px;
        transition: 0.5s;
    }

    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background: linear-gradient(to right bottom, rgb(4, 20, 88), rgb(13, 1, 46));
        backdrop-filter: blur(125px);
        width: 150px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -350px;
        margin-top: 120px;
        border-radius: 30px;
        transition: 0.5s ease-in-out;
        z-index: 50;
    }

    .nav-links.mobile-menu {
        margin-left: -150px;
        margin-top: 120px;
        transition: 0.5s ease-in-out;
        z-index: 51;
        width: 150px;
        height: 300px;
        border-radius: 30px;
    }

    .nav-links.mobile-menu~.menu-burger {
        opacity: 0.5;
        transition: 0.5s;
        z-index: 51;
    }

    .navbar a {
        color: white;
    }

    .navbar .logo {
        border: none;
    }

    .nav-links ul {
        margin-top: 150px;
        margin-bottom: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 5px 0;
        font-size: 1em;
        font-weight: bold;
        color: white;
        max-width: 370px;
        text-align: center;
        padding: 15px;
    }

    .nav-links .mobile-menu~h1 {
        filter: blur(10px);
    }

    .right {
        margin-top: 45px;
        font-size: 0.8em;
    }

    .right:nth-child(1) {
        margin-right: 20px;
    }

    .right:nth-child(2) {
        margin-right: 50px;
    }

    .right button {
        border: none;
        background: rgba(116, 0, 0, 0);
        color: white;
        font-weight: 600;
        font-size: 1em;
    }

    .right button:hover {
        cursor: pointer;
    }

    .right button:nth-child(1) {
        margin-top: 12px;
        transition: 0.5s;
    }

    .right button:nth-child(2) {
        background: rgb(255, 123, 0);
        padding: 10px;
        border-radius: 10px;
        transition: 0.5s;
        margin-top: 2px;
    }
}

@media screen and (max-width: 1217px) {

    .layer-one {
        display: block;
        justify-content: center;
        height: 100%;
        margin-bottom: 50px;
        margin-left: 70px;
        margin-right: 60px;
        text-align: center;
        margin-bottom: 350px;
    }
    
    .layer-one .l-one-text-left {
        position: relative;
        top: 400px;
        margin-top: 20px;
        width: 100%;
        color: white;
    }

    .layer-one .l-one-img img {
        width: 50%;
        height: 50%;
        margin-top: -310px;
    }

    .layer-two {
        display: block;
        height: 100%;
        padding-bottom: 50px;
    }

    .layer-two .l-two-right {
        margin-left: 50px;
        margin-top: 35px;
    }

    .layer-three {
        margin-left: 70px;
        margin-right: 70px;
    }

}


@media screen and (max-width: 930px) {
    .layer-one {
        display: block;
        justify-content: center;
        height: 100%;
        margin-bottom: 50px;
        margin-left: 30px;
        margin-right: 30px;
        text-align: center;
        margin-bottom: 50px;
    }

    .layer-one .l-one-img img {
        display: none;
    }
    
    .layer-one .l-one-text-left {
        position: relative;
        top: 0px;
        margin-top: 20px;
        width: 100%;
        color: white;
    }

    .l-one-input button {
        margin-top: 20px;
    }

    .layer-three {
        display: block;
        height: 100%;
        margin: 0;
    }

    .layer-three .l-three-left {
        text-align: center;
    }

    .layer-three .l-three-left img {
        width: 50%;
        height: 50%;
    }

    .text-here {
        text-align: center;
        font-size: 0.9em;
    }

    .layer-three .l-three-right {
        color: white;
        margin-top: 0px;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        width: 80%;
    }
    
    .layer-three .l-three-right h1 {
        width: 100%;
        background-image: -webkit-linear-gradient(0deg, #3f51b5 22%, #ff5722 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 100px;
        margin-bottom: 10px;
        font-size: 1.3em;
    } 
    
    .layer-three .l-three-right p {
        background-image: -webkit-linear-gradient(0deg, #3f51b5 22%, #224aff 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 500;
        margin-bottom: 150px;
        font-size: 1.2em;
    }

    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background: linear-gradient(to right bottom, rgb(4, 20, 88), rgb(13, 1, 46));
        backdrop-filter: blur(125px);
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        margin-left: -150vh;
        margin-top: 0px;
        border-radius: 30px;
        transition: 0.5s ease-in-out;
        z-index: 50;
    }

    .nav-links.mobile-menu {
        position: fixed;
        margin-top: 0px;
        margin-left: 0px;
        justify-content: center;
        transition: 0.5s ease-in-out;
        z-index: 51;
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
    }

    .nav-links ul {
        margin-top: 150px;
        margin-bottom: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}


@media screen and (max-width: 425px) {
    
    .logo {
        padding-right: 0px;
    }

    .right:nth-child(1) {
        margin-right: 20px;
    }

    .right:nth-child(2) {
        margin-right: 50px;
    }

    .navbar .menu-burger {
        left: -90px;
    }
    
    .logo {
        margin-left: 20px;
    }
}


@keyframes headmove {
    0% {
        transform: rotate(4deg);
    }
    12% {
        transform: rotate(2deg);        
    }

    25% {
        transform: scale(0deg);
    }

    33% {
        transform: scale(-2deg);
    }

    50% {
        transform: scale(-4deg);
    }

    62% {
        transform: scale(-2deg);
    }

    75% {
        transform: rotate(0deg);
    }

    88% {
        transform: scale(2deg);
    }

    100% {
        transform: rotate(4deg);
    }
}